In [2]:
#Import things
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import csv

In [7]:
bees_data = pd.read_csv("honey bees.csv")
gases_trends=pd.read_csv("Table 2-2.csv")
gases_ecsectors=pd.DataFrame(pd.read_csv("Table 2-10.csv"))

In [9]:
gases_ecsectors

,Table 2-10: U.S. Greenhouse Gas Emissions Allocated to Economic Sectors (MMT CO2 Eq. and Percent of Total in 2019),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sector/Source,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Percent a
2,NaN,Transportation,"1,526.60","1,480.50","1,540.00","1,577.00","1,632.00","1,667.10","1,723.40","1,750.00",...,"1,769.10","1,749.40","1,751.90","1,785.90","1,794.10","1,830.00","1,847.30","1,878.20","1,875.70",28.60%
3,NaN,CO2 from Fossil Fuel Combustion,"1,469.10","1,422.50","1,477.80","1,508.70","1,554.10","1,580.80","1,627.50","1,643.60",...,"1,671.20","1,660.40","1,669.80","1,708.20","1,719.20","1,759.90","1,782.40","1,816.60","1,817.20",27.70%
4,NaN,Substitution of Ozone Depleting Substances,+,+,1.2,5.1,12.4,19.6,28.4,37.4,...,62.4,57.1,51.6,48.8,46.3,43.3,40.1,38.5,36.7,0.60%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,Notes: Total emissions presented without LULUC...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,+ Does not exceed 0.05 MMT CO2 Eq. or 0.05 per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,a Percent of total (gross) emissions excluding...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,b The LULUCF Sector Net Total is the net sum o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bees_data

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998
...,...,...,...,...,...,...,...,...
901,VA,5000.0,39,195000.0,49000.0,7.51,1464000.0,2019
902,WA,81000.0,35,2835000.0,1191000.0,2.12,6010000.0,2019
903,WV,6000.0,37,222000.0,47000.0,4.50,999000.0,2019
904,WI,46000.0,47,2162000.0,692000.0,2.99,6464000.0,2019
905,WY,39000.0,56,2184000.0,306000.0,1.35,2948000.0,2019

In [5]:
pd.DataFrame(bees_data)

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998
...,...,...,...,...,...,...,...,...
901,VA,5000.0,39,195000.0,49000.0,7.51,1464000.0,2019
902,WA,81000.0,35,2835000.0,1191000.0,2.12,6010000.0,2019
903,WV,6000.0,37,222000.0,47000.0,4.50,999000.0,2019
904,WI,46000.0,47,2162000.0,692000.0,2.99,6464000.0,2019
905,WY,39000.0,56,2184000.0,306000.0,1.35,2948000.0,2019

In [7]:
bees_data.sort_values(by='year')

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
24,NJ,11000.0,49,539000.0,167000.0,0.76,410000.0,1998
25,NM,14000.0,55,770000.0,470000.0,0.76,585000.0,1998
26,NY,65000.0,80,5200000.0,2444000.0,0.70,3640000.0,1998
27,NC,8000.0,59,472000.0,151000.0,1.38,651000.0,1998
...,...,...,...,...,...,...,...,...
880,LA,54000.0,72,3888000.0,428000.0,2.04,7932000.0,2019
881,ME,15000.0,35,525000.0,110000.0,2.92,1533000.0,2019
882,MI,94000.0,50,4700000.0,1363000.0,2.36,11092000.0,2019
884,MS,22000.0,80,1760000.0,141000.0,1.85,3256000.0,2019
905,WY,39000.0,56,2184000.0,306000.0,1.35,2948000.0,2019